p {
    margin: 0;
}

@font-face {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: normal;
    src:
            local('Kanit'),
            url('../fonts/Kanit/Kanit-Regular.ttf') format('ttf')
}

@font-face {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    src:
            local('Nunito'),
            url('../fonts/Nunito/static/Nunito-Regular.ttf') format('ttf')
}

body {
    font-weight: 400;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/*header*/

.header {
    background-image: url("../img/BG-header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.header__link {
    display: flex;
    margin-left: 390px;
}

.header__link_one {
    padding-top: 40px;
}

.header__link_one > a {
    font-family: Kanit, sans-serif;
    color: #FFFFFF;
    margin-top: 0;
}

.header__link_two {
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin-left: 327px;
}

.header__link_two_one, .header__link_two_two, .header__link_two_three, .header__link_two_four, .header__link_two_five {
    margin-right: 55px;
}

.header__link_two > a {
    font-family: Nunito, sans-serif;
    margin-top: 35px;
}

.header__link_two_six {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 50px 50px;
}

.header__title {
    margin: 180px 410px 50px 960px;
}

.header__title_h {
    color: #FFFFFF;
    font-family: Kanit, sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
    white-space: nowrap;
}

.header__title_paragraph {
    color: #FFFFFF;
    font-family: Nunito, sans-serif;
    font-size: 16px;
}

.header__other_span {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 5px;
    writing-mode: vertical-rl;
    /*text-orientation: upright;*/
    margin-bottom: 70px;
    margin-left: 390px;
}

/*section_one*/

.about {
    background-color: #000000;
    padding-bottom: 250px;
}


.section-one__wrapper_one {
    padding-top: 100px;
    margin-bottom: 75px;
}

.section-one__wrapper_small {
    font-family: Kanit, sans-serif;
    font-size: 16px;
    color: #6D7D7D;
    letter-spacing: 10px;
}

.section-one__wrapper_headone {
    font-family: Kanit, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 0;
}

.section-one__wrapper_paragraph {
    font-family: Nunito, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-top: 20px;
    width: 513px;
}

.d-flex {
    display: flex;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.section-one__wrapper_two {
    display: flex;
    height: 442px;
    /*grid-template-areas:*/
    /*"1 1 1 1";*/
    /*"2 2 2";*/
}

.section-one__wrapper_other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-one__wrapper__two_img1 {
    /*grid-area: 1;*/
    margin-right: 23px;
}
.section-one__wrapper__two_img2 {
    /*grid-area: 1;*/
    margin-right: 23px;
}
.section-one__wrapper__two_img3 {
    /*grid-area: 1;*/
    margin-right: 138px;
}
.section-one__wrapper__two_link {
    color: #FFF;
    text-align: center;
    font-family: Kanit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.88px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    height: max-content;
    padding: 8px 28px;
    margin-top: auto;
    width: max-content;
}

.section-one__wrapper__elem_one {
    /*grid-area: 2;*/
}
.section-one__wrapper__elem_two {
    /*grid-area: 2;*/
}
.section-one__wrapper__elem_three {
    /*grid-area: 2;*/
    /*padding-bottom: 200px;*/
}

.section-one__wrapper_spanone, .section-one__wrapper_sapntwo {
    font-family: Kanit, sans-serif;
}

.section-one__wrapper_spanone {
    color: #6D7D7D;
    font-size: 40px;
}

.section-one__wrapper_spantwo {
    color: #FFFFFF;
    font-size: 16px;
}

/*section_two*/

.section-two {
    display: grid;
    position: relative;
}

.section-two__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 150px;
    margin: auto;
    background-color: #212828;
    border-radius: 50px;
    position: absolute;
    top: -150px; left: 400px;
    /*transform: translateY(-50%);*/
}

.section-two__image {
    border-radius: 50px;
}

.section-two__wrapper_title {
    color: #FFFFFF;
    font-size: 40px;
    white-space: normal;
    padding-top: 61px;
    width: 520px;
}

.section-two__wrapper_link {
    display: inline;
    color: #FFFFFF;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 8px 52px;
}

/*section_three*/

.section-three {
    /*display: grid;*/
    /*padding-top: 250px;*/
    background-color: #131616;
}

.section-three__container {
    padding-top: 250px;
    background-color: #131616;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-three__container_one {
    margin-right: 103px;
    margin-left: 390px;
}

.section-three__container_one > small {
    font-family: Kanit, sans-serif;
    color: #6D7D7D;
    font-size: 16px;
    letter-spacing: 5px;
}

.section-three__container_one > h1 {
    font-family: Kanit, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.section-three__container_one > p {
    font-family: Nunito, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 74px;
}

.section-three__container_two {
    display: grid;
    grid-template-areas:
    "img1 img2"
    "link img3";
    gap: 22px;
}

.section-three__container_two_3 {
    display: flex;
}

.section-three__container_two_1 {
    display: flex;
    flex-direction: column;
    margin-right: 22px;
}

.section-three__container_two_2 {
    display: flex;
    flex-direction: column;
}

.section-three__container__two_img1 {
    grid-area: img1;
}
.section-three__container__two_img2 {
    grid-area: img2;
}
.section-three__container__two_img3 {
    grid-area: img3;
    margin-bottom: 22px;
}
.section-three__container__two_link {
    grid-area: link;
    font-family: Kanit, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    border: solid #FFFFFF 2px;
    font-weight: 400;
    letter-spacing: 6.88px;
    padding: 8px 27px;
    margin-top: 140px;
    justify-content: center;
}

.section-three__container_three {
    display: grid;
    align-items: center;
    /*margin-left: 390px;*/
    margin-top: 75px;
    padding-bottom: 100px;
    background-color: #131616;
}

.section-three__container__three_link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-left: 105px

}

.section-three__container__three_link > a{
    color: #6D7D7D;
}

/*section_four*/

.section-four {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #191D1D;
    padding-top: 116px;
 }

.section-four__item {
    color: #FFFFFF;
    font-size: 40px;
    white-space: nowrap;
    font-family: 'Kanit', sans-serif;
}

.section-four__item_two, .section-four__item_tree {
    margin-top: 80px;
}

.section-four__container {
    justify-content: space-between;
    align-items: self-start;
}

.section-four__elem {
    margin-left: 251px;
}

.section-four__elem_two, .section-four__elem_tree {
    margin-top: 47px;
}

.section-four__elem_tree{
    margin-bottom: 100px;
}

div>p {
    color: #6D7D7D;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

div > a {
    color: #FFFFFF;
    letter-spacing: 3px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 22px;
}

/*section_five*/

.section-five__img{
    display: flex;
    justify-content: center;
}

/*section_six*/

.section-six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262b2b;
    padding-top: 100px;
}
.section-six__container {
    margin: auto;
}

.section-six__wrapper_two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}

.section-six__wrapper_wrap > p {
    margin-top: 35px;
}

.section-six__wrapper_wrap > a {
    margin-top: 35px;
}

.section-six__wrapper_tree {
    display: flex;
    align-items: baseline;
    margin: 75px 0 75px 0;
}

.section-six__wrapper_tree > span {
    font-family: Kanit, sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.section-six__link {
    display: flex;
    align-items: baseline;
}

.section-six__wrapper__form_input {
    background-color: #262b2b;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
    width: 610px;
    padding-bottom: 8px;

}

.section-six__wrapper__form_input::placeholder {
    font-size: 16px;
    font-family: Nunito, sans-serif;
    color: #FFFFFF;
}
.section-six__wrapper_form {
    margin-left: 130px;
}

.section-six__wrapper__form_button {
    margin-left: 25px;
    padding: 8px 47px;
    border-radius: 50px;
    background-color: #262b2b;
    color: #FFFFFF;
    letter-spacing: 5px;
    border: solid #FFFFFF 1px;
}

.section-six__wrapper_one {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*footer*/

.footer {
    display: grid;
    background-color: #131616
}

.footer__container {
    margin: auto;
    margin-top: 130px;
}

.footer__container_one {
    display: flex;
    justify-content: space-between;
}

.footer__container_one > a {
    margin-right: 55px;
}

.footer__container_one > a:last-child {
    margin-right: 0;
}

.footer__container__one_linktwo {
    margin-right: 0px;
}

.footer__container_one > .footer__container__one_link{
    margin-right: 500px;
}

.footer__container_two {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer__container__two_image {
    margin-right: 450px;
}

.footer__container__two_image > img {
    margin-right: 20px;
}

.footer__container_three {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 30px;
}

.footer__container_three > span {
    color: #ffffff;
}

.footer__container__three_span {
    margin-right: 485px;
}

.footer__container__three_one {
    margin-right: 92px;
}